@model Tata.Project.TataGroupWeb.Models.HeroPage

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">@Model.HeroIntro</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">@Model.HeroDescription</p>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            @Model.HeroBackgroundImage
        </div>
    </div>
</div>
