<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor 
					patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.AliasResolver, Sitecore.Kernel']"
					type="Tata.Project.TataGroupWeb.Custom.Pipelines.TataAliasResolver, Tata.Project.TataGroupWeb" />
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>