<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Tata.Project.TataGroupWeb" description="This configuration serializes all the Sitecore Defition items">
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/TataGroupWeb" />
						<include name="Rendering" database="master" path="/sitecore/layout/Renderings/Project" />
						<include name="Templates" database="master" path="/sitecore/templates/Project" />
						<include name="Languages" database="master" path="/sitecore/system/Languages" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
