<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				
				<configuration name="Tata.Project.TataGroupWeb" description="This configuration serialize all the Sitecore Definition Items">
					<predicate>

						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/TataGroupWeb" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project" />
						<include name="Templates" database="master" path="/sitecore/templates/Project" />
						<include database="master" path="/sitecore/system/Languages" />
					</predicate>

	
				
					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
